/* src/App.css */

/* Body styles */
body {
  /* Add the path to your background image */
  background-image: url('./images/lotus.jpg');
  /* Set background size and position */
  background-size: cover;
  background-position: center;
  /* Optionally, add fallback background color */
  background-color: rgba(255, 255, 255, 0.1);
  /* Adjust opacity as needed */
  /* Prevent background image from repeating */
  background-repeat: no-repeat;
  /* Ensure background covers entire viewport */
  height: 100vh;
  margin: 0;
  min-height: 100vh; /* Ensure container covers entire viewport height */
  padding-top: 50px; 
  /* Remove default margin */
  padding: 0;
  /* Remove default padding */
  background-attachment: fixed; /* Fix the background image relative to the viewport */
}

.link {
  color: blue; /* Change the color to your preferred color */
  text-decoration: underline; /* Add underline for better visibility */
  font-size: 1rem
}
@font-face {
  font-family: 'Roboto';
  src: url('./fonts/Roboto-Regular.ttf') format('truetype');
 }

/* Navigation bar styles */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  /* Adjust opacity as needed */
  padding: 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* Add shadow for depth */
  z-index: 1000;
  /* Ensure it appears above blurred background */
  backdrop-filter: blur(8px);
  /* Apply blur effect to the background */
}

.navbar-container {
  display: flex;
  justify-content: center; /* Center items horizontally */
}

.navbar-brand {
  font-size: 1.5rem;
  font-weight: bold;
  color: #333;
  /* Adjust text color */
}

.navbar-nav {
  margin-left: auto;
}

.nav-items {
  margin-left: 1rem;
  display: flex;
  justify-content: space-around; /* Evenly distribute items */
  width: 50%; /* Set width to center items */
  font-family: 'Roboto', cursive; /* Apply custom font */
  align-items: center;
}

.nav-link {
  color: #333;
  /* Adjust text color */
  text-decoration: none;
  transition: color 0.3s ease;
  /* Add smooth color transition */
}

.nav-link:hover {
  color: #555;
  /* Adjust hover text color */
}

.nav-button {
  font-size: 18px;
  font-weight: bold;
  margin: 0 10px;
  transition: transform 0.3s, font-size 0.3s background-color 0.3s;
  border-radius: 20px;
}

.nav-button:hover {
  transform: translateY(-3px);
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.1); /* Change the background color on hover */
}

/* App.css */
.login-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  color: rgba(242, 242, 5, 0.986);
}

.form-group {
  margin-bottom: 1rem;
  font-size: 1rem
}

.form-group input {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.form-group button {
  width: 100%;
  padding: 0.5rem;
  font-size: 1rem;
}

.bold-label {
  font-weight: bold;
  color:  rgba(242, 242, 5, 0.986);
  font-size: 2rem
}

/* Define styles for dashboard */
.dashboard-container {
  text-align: center;
}

/* Define styles for headings */
.dashboard-container h2,
.dashboard-container h3 {
  font-size: 2em; /* Three times bigger */
  font-weight: bold;
  color: rgba(242, 242, 5, 0.986); /* Contrast color */
}

/* Define styles for paragraphs */
.dashboard-container p {
  font-size: 1em; /* Two times bigger */
  font-weight: bold;
  color: rgba(242, 242, 5, 0.986); /* Contrast color */
}

/* Add styles for section headings */
.section-heading {
  font-size: 1em; /* Two times bigger */
  font-weight: bold;
  color: rgba(242, 242, 5, 0.986); /* Font color */
  text-align: center; /* Center align */
}

/* Define styles for links */
.dashboard-container a {
  font-size: 1.5em; /* Two times bigger */
  font-weight: bold;
  color: rgba(242, 242, 5, 0.986); /* Contrast color */
  text-decoration: none; /* Remove underline */
}

/* Add space between links */
.dashboard-container .page-links {
  margin-top: 20px;
}

.dashboard-container .recent-activity li {
  font-size: 2em; /* Two times bigger */
  font-weight: bold;
  color: rgba(242, 242, 5, 0.986); /* Contrast color */
}

/* Add styles for recent goals container */
.recent-activity {
  display: flex;
  flex-wrap: wrap; /* Allow items to wrap */
  justify-content: center; /* Center items horizontally */
}

/* Add styles for each goal item */
/* Add styles for each goal item */
.goal-item {
  /* background-color: rgba(237, 169, 240, 0.5); Transparent background */
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 20px;
  max-width: 400px;
  display: inline-block; /* Display items inline */
  vertical-align: top; /* Align items at the top */
}

/* Add hover effect */
.goal-item:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

/* Add styling for form inputs */
.form-input {
  font-size: 1em; /* 2 times bigger */
  color: rgba(17, 70, 205, 0.986);; /* Font color */
}

/* Add styling for field labels */
.field-label {
  font-size: 2em; /* 2 times bigger */
  color: rgba(242, 242, 5, 0.986); /* Font color */
}

/* Add styles for goals items in the Goals page */
.goals-item {
  font-size: 1em; /* Two times bigger */
  color: rgba(242, 242, 5, 0.986); /* Font color */
  margin-bottom: 20px; /* Add margin between goals */
}

/* Add styles for page headings */
.page-heading {
  font-size: 1em; /* Two times bigger */
  color: rgba(242, 242, 5, 0.986); /* Font color */
}

/* Add styles for user greeting */
.user-greeting {
  font-size: 2em; /* Two times bigger */
  color: rgba(242, 242, 5, 0.986); /* Font color */
}

.signup-container{
  font-size: 2em; /* Two times bigger */
  font-weight: bold;
  color: rgba(242, 242, 5, 0.986); /* Contrast color */
}

/*Mood Tracker page */

.react-calendar {
  border: 2px double rgb(9, 9, 238); /* Set double border with black color */
  border-radius: 10px; /* Set border radius for rounded corners */
}


.mood-tracker-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-container {
  display: flex;
  justify-content: center;
  align-items: flex-start; /* Adjust alignment as needed */
  gap: 20px; /* Adjust spacing between elements */
}

.calendar-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Adjust spacing between calendar and date text */
  color:  rgb(9, 9, 238)
}

.mood-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Adjust spacing between dropdown and label */
}

.notes {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px; /* Adjust spacing between textarea and label */
}

/* Additional styling for specific elements within .notes */
.notes textarea {
  width: 300px; /* Adjust width as needed */
  height: 100px; /* Adjust height as needed */
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

/* JournalEntry Page styling*/

.journal-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Center content horizontally */
}

.form-group {
  margin-bottom: 20px; /* Add space between form groups */
}

.form-group label {
  margin-right: 10px; /* Add space between label and input field */
}

#content {
  width: 300px; /* Set width for content textarea */
  height: 150px; /* Set height for content textarea */
  resize: none; /* Disable resizing */
}

button {
  margin-top: 20px; /* Add space between buttons and journal entries */
}

.journal-list {
  list-style-type: none; /* Remove default bullet points */
  padding: 0; /* Remove default padding */
  color : rgba(242, 242, 5, 0.986);
}

.journal-list li {
  margin-bottom: 20px; /* Add margin between each journal entry */
}

.journal-entry {
  background-color: #f4f4f4; /* Set background color for each journal entry */
  padding: 10px; /* Add padding to each journal entry */
  border-radius: 5px; /* Add border radius for rounded corners */
}

.journal-title {
  font-weight: bold; /* Make the title bold */
}

.journal-content {
  margin-top: 5px; /* Add margin between title and content */
}

.journal-date {
  color: #888; /* Set color for date */
  font-size: 0.8rem; /* Set font size for date */
}


/* Signup page */

/* Center the form container */
.signup-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Ensure the container fills the viewport height */
}

/* Style form elements */
.form-group {
  margin-bottom: 1rem;
}

label {
  color:rgba(242, 242, 5, 0.986);; /* Set font color */
  font-weight: bold;
  font-size: 1.5em;

}

input,
select {
    width: 250px; /* Adjust width as needed */
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.country-label {
  font-weight: bold;
  margin-bottom: 0.25rem;
}

button[type="submit"] {
  background-color: rgb(9, 9, 238); /* Set button background color */
  color: #fff; /* Set button text color */
  padding: 0.5rem 1rem;
  border: none;
  cursor: pointer;
  font-size: 14px; /* Set button font size */
}

/* Additional styling for error messages */
.error-message {
  color: red;
  font-size: 12px;
}

/* knowmore page*/

.know-more-container {
  text-align: center;
  color: rgba(242, 242, 5, 0.986);
  font-weight: bold;
  font-size: 1.5em;
}

.links-container {
  display: flex;
  justify-content: space-evenly;
}

.navigation-links {
  margin-top: 50px; /* Adjust margin as needed */
}

.navigation-links a {
  margin-right: 10px; /* Adjust margin between links */
  font-weight: bold;
  text-decoration: none; /* Remove underline from links */
  color: rgba(242, 242, 5, 0.986); /* Adjust link color */
}

.link {
  margin: 20px;
  padding: 20px;
  border: 2px solid rgb(9, 185, 238);
  border-radius: 10px;
}

.link h2 {
  margin-bottom: 10px;
}

.know-more-container section {
  display: none;
  margin-top: 20px;
}

.know-more-container section.active {
  display: block;
}

.know-more-container nav {
  text-align: center;
}

.know-more-container nav ul {
  list-style: none;
  padding: 0;
}

.know-more-container nav ul li {
  display: inline-block;
  margin-right: 20px;
}

.know-more-container nav ul li a {
  color: rgb(9, 9, 238);
  font-weight: bold;
  text-decoration: none;
}

.know-more-container nav ul li a:hover {
  text-decoration: underline;
}


/* Set Goals styling */

.goals-container {
  width: 80%;
  margin: auto;
  padding: 20px;
  text-align: center;
}

.goal-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 10px;
  margin-bottom: 20px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  margin-bottom: 5px;
}

.form-group input,
.form-group select {
  padding: 8px;
  font-size: 16px;
  border-radius: 5px;
  border: 1px solid #ccc;
  transition: border-color 0.3s;
}

.form-group input:focus,
.form-group select:focus {
  border-color: #007bff;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #0056b3;
}

ul {
  list-style: none;
  padding: 0;
}

ul li {
  margin-bottom: 10px;
}
